@model AllTrails.Models.Trail

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Trail</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label>Add Image (optional)</label>
                <input type="file" name="ImageFile" id="ImageFile" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @* <div class="mb-3">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div> *@
            <div class="mb-3">
                <label asp-for="LengthKm" class="control-label"></label>
                <input asp-for="LengthKm" class="form-control" />
                <span asp-validation-for="LengthKm" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LengthMetres" class="control-label"></label>
                <input asp-for="LengthMetres" class="form-control" />
                <span asp-validation-for="LengthMetres" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ElevationGainMetres" class="control-label"></label>
                <input asp-for="ElevationGainMetres" class="form-control" />
                <span asp-validation-for="ElevationGainMetres" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="EstimatedDuration" class="control-label"></label>
                <input asp-for="EstimatedDuration" class="form-control" />
                <span asp-validation-for="EstimatedDuration" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
