@{
    ViewData["Title"] = "Home Page";
}



<div class="hero">
    <div class="hero d-flex align-items-center justify-content-center text-center">
        <div class="w-50">
            <div>
                All Trails
            </div>
            <h1 class="display-4 mb-3">We connect people to the outdoors</h1>
            <img src="~/images/cabot.webp" alt="Cabot Trail, Cape Breton, Nova Scotia, Canada" class="img-fluid" />
        </div>
    </div>
</div>
